

.game1Body {
    background-image: url('../img/game1Background.jpg');
}

.game1Header {
    .headerText {
        display: flex;
        justify-content: center;
        color: white;
    }
}

.game1 {
    display: flex;
    flex-direction: column;
}

.bearContainer {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5px;
    .teddyItem1 {
        width: 30%;
        height: 35%;
    }
    .bearItem2 {
        width: 30%;
        height: 35%;
        border-radius: 50%;
    }
}

.answerOptionsItem3 {
    display:flex;
    flex-direction: column;
    margin: auto;
    .answerBar {
        margin: 0.5em;
    }
}

.nextChallangeContainer {
    display: none;
    .nextChallange {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        margin: auto;
    }
}

// for iphone 6+ vertical view
@media (max-width: 415px) and (max-height: 750px) {
    .game1 {
        height: 80vh;
    }
    .headerText {
        font-size: 150%;
    }
    .bearContainer {
        padding-top: 40px;
        padding-bottom: 30px;
    }
    .answerOptionsItem3 {
        max-width: 380px;
        .answerBar1 {
            font-size: 120%;        
        }
        .answerBar2 {
            font-size: 120%;
        }
    }
}

// modiciation for iphone 6 n 4 vertical n horizontal
@media (max-width: 400px) and (max-height: 700px) {
    .bearContainer {
        padding-top: 60px;
        padding-bottom: 40px;
        margin: auto;
        .teddyItem1 {
            max-width: 120px;
        }
        .changingImg {
            max-width: 120px;
        }
    }
    .game1 {
        height: 80vh;
    }
    .headerText {
        font-size: 150%;
    }
    .answerOptionsItem3 {
        .answerBar1 {
            font-size: 90%;        
        }
        .answerBar2 {
            font-size: 90%;
        }
    }
}

// modification for iphone 6 
@media (max-height: 500px) {
    .game1 {
        height: 80vh;
    }
    .teddyItem1 {
        max-width: 110px;
    }
    .changingImg {
        max-width: 110px;
    }

    .headerText {
        font-size: 130%;
    }
    .bearContainer {
        margin: auto;
    }
    
}

// iPhone 4 horizontal less then 320px
@media (max-height: 340px) {
    .teddyItem1 {
        max-width: 90px;
    }
    .changingImg {
        max-width: 90px;
    }
}