

// Parent container
.game1 {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    max-width: 95%;
}


.game1Header {
    border: 1px solid black;
    background-image: url('../img/game1Background.jpg');
    max-width: 95%;
    .headerText {
        display: flex;
        justify-content: center;
        color: white;
    }
}


// bear container within parent
.bearContainer {
    border: 1px solid black;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5px;

}

// bear child1
.teddyItem1 {
    width: 45%;
    height: 50%;
}

// bear child2
.bearItem2 {
    width: 45%;
    height: 50%;
    border-radius: 50%;
}

// child3 CONTAINER of answeres
.answerOptionsItem3 {
    border: 1px solid black;
    display:flex;
    flex-direction: column;
    // justify-content: space-around;
    margin: auto;
    height: 30vh;
    .answerBar1 {
        margin: 0.5em;
    }
    .answerBar2 {
        margin: 0.5em;
    }
}



// next chal button container and button - currently hidden from display
.nextChallangeContainer {
    display: none;
    .nextChallange {
        // border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        margin: auto;
        
    }
}

@media (max-width: 600px) {
    .headerText {
        font-size: 200%;
    }
}

@media (max-height: 400px) {
    .teddyItem1 {
        max-width: 150px;
    }
    .changingImg {
        max-width: 150px;
    }
}