
.game2 {
    border: 1px solid black;
    display:flex;  
    justify-content: center;
    height: 500px;
    
}

.boardContainer {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    background: green;
    border: 1px solid black;
    width: 65%;
}


.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    background: blue;
    border: 1px solid black;
    position: relative;
    width: 25%;
    .currDifficulty {

    }

    .attemptsCount {
        // currently to display loosblocks child centered in the colum
        // untill I learn how to do it on % and not pixels
        margin: 5px;
        padding-bottom: 100px;
    }
    .looseBlocks {
        border: 1px solid black;
        display: flex;
        flex-direction: column; 
        justify-content: space-around;
        height: 150px;
    }
    
}

// LEFT BLOCK
.leftBlock {
    color: white;
    background: black;
    border: 1px solid white;
    outline: 1px solid black;
    position: relative;
    height: 32px;
    width: 36px;
    text-align: center;
    .leftBlockNum {
        // center on x / y axises --> anchor the text
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
    }
}

// RIGHT BLOCK
.rightBlock {
    
    color: white;
    background: black;
    border: 1px solid white;
    outline: 1px solid black;
    position: relative;
    height: 32px;
    width: 36px;
    text-align: center;
    .rightBlockNum {
        // center on x / y axises --> anchor the text
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
    }
}

.cell {
    color: white;
    background: black;
    border: 1px solid white;
    height: 32px;
    width: 36px;
    text-align: center;
    padding: 10px;

    .rightBlockNum {
        // center on x / y axises --> anchor the text
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
    }
}


// next chal button container and button - currently hidden from display
.nextChallangeContainer2 {
    display: none;
    padding-bottom: 10px;
    .nextChallange2 {
        // border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        margin: auto;
        
    }
}
